<style>
table#alert {border-collapse: collapse}
table#alert td, table#alert th {
  border: 1px solid black;
}
</style>

<h3>
Porphyrin structure tests:
</h3>
<table id='alert'>
<tr><th>test</th><th>value</th></tr>
<tr><td>
Probable correct structure (&Sigma; residual total values = 0): 
</td><td>
{{a1|safe}}
</td></tr>

<tr><td>
Solution symmetry guess (ip > 0.2, oop > 0.5):
</td><td>
{{a2|safe}}
</td></tr>

<tr><td>
Crystal phase symmetry guess (ip > 0.03, oop > 0.1): 
</td><td>
{{a3|safe}}
</td></tr>

<tr><td>
Exact centrosymmetry <br> (&Sigma;|ungerade| > 0.01): 
</td><td>
{{a4|safe}} 
</td></tr>

<tr><td>
Approx. centrosymmetry <br> (&Sigma;|ungerade| > 0.1): 
</td><td>
{{a5|safe}} 
</td></tr>

<tr><td>
B<sub>2g</sub> tests: 
</td><td>
{{b2g|safe}} 
</td></tr>

<tr><td>
B<sub>1g</sub> tests: 
</td><td>
{{b1g|safe}} 
</td></tr>

<tr><td>
A<sub>1g</sub> tests: 
</td><td>
{{a1g|safe}} 
</td></tr>

<tr><td>
A<sub>2g</sub> tests: 
</td><td>
{{a2g|safe}} 
</td></tr>

<tr><td>
B<sub>2u</sub> tests: 
</td><td>
{{b2u|safe}} 
</td></tr>

<tr><td>
B<sub>1u</sub> tests: 
</td><td>
{{b1u|safe}} 
</td></tr>

<tr><td>
A<sub>2u</sub> tests: 
</td><td>
{{a2u|safe}} 
</td></tr>

<tr><td>
CCDC most similar in plane (leastsq): 
</td><td>
<a href='https://www.ccdc.cam.ac.uk/structures/Search?Ccdcid={{comp1[1][:6]}}&DatabaseToSearch=Published'>{{comp1[1]}} </a>
</td></tr>

<tr><td>
CCDC most similar out of plane (leastsq): 
</td><td>
<a href='https://www.ccdc.cam.ac.uk/structures/Search?Ccdcid={{comp1[0][:6]}}&DatabaseToSearch=Published'>{{comp1[0]}} </a>
</td></tr>

<tr><td>
CCDC most similar in plane (leastsum): 
</td><td>
<a href='https://www.ccdc.cam.ac.uk/structures/Search?Ccdcid={{comp2[1][:6]}}&DatabaseToSearch=Published'>{{comp2[1]}} </a>
</td></tr>

<tr><td>
CCDC most similar out of plane (leastsum): 
</td><td>
<a href='https://www.ccdc.cam.ac.uk/structures/Search?Ccdcid={{comp2[0][:6]}}&DatabaseToSearch=Published'>{{comp2[0]}} </a>
</td></tr>

<tr><td>
PDB most similar in plane (leastsq): 
</td><td>
<a href='https://www.rcsb.org/structure/{{comp3[1][:4]}}'>{{comp3[1]}} </a>
</td></tr>

<tr><td>
PDB most similar out of plane (leastsq): 
</td><td>
<a href='https://www.rcsb.org/structure/{{comp3[0][:4]}}'>{{comp3[0]}} </a>
</td></tr>

<tr><td>
PDB most similar in plane (leastsum): 
</td><td>
<a href='https://www.rcsb.org/structure/{{comp4[1][:4]}}'>{{comp4[1]}} </a>
</td></tr>

<tr><td>
PDB most similar out of plane (leastsum): 
</td><td>
<a href='https://www.rcsb.org/structure/{{comp4[0][:4]}}'>{{comp4[0]}} </a>
</td></tr>


<tr><td>
mode energy calc: 
</td><td>
{{sum_energy}} 
</td></tr>

</table>
<br>
 <p>
See <a href = './alert_defs.html'> here </a> for definitions
</p>
