
<h3>
Coordinates for external plotting:
	</h3>
	<p>
x, y, z are coordinates in real space, in angstroms
<br>
z, r, and theta are transformed cylindrical coordinates
<br>
in angstroms and degrees, for skeletal plots
</p>
<table id='coordstable' border="1" class="positions">
<thead>
	<tr>	<th>Atom</th>	<th>x (&Aring;)</th> 	<th>y (&Aring;)	</th> 	<th>z (&Aring;)		</th> 	<th>r (&Aring;)	</th> 	<th>theta (&deg;)</th>	</tr>
</thead>  <tbody>
	<tr>	<td>C1	</td> 	<td>{{t[0,0	]}}	</td> 	<td>{{t[1,0	]}}	</td> 	<td>{{t[2,0	]}}		</td> 	<td>{{t[3,0	]}}	</td> 	<td>{{t[4,0	]}}	</td>	</tr>
	<tr>	<td>C2	</td> 	<td>{{t[0,1	]}}	</td> 	<td>{{t[1,1	]}}	</td> 	<td>{{t[2,1	]}}		</td> 	<td>{{t[3,1	]}}	</td> 	<td>{{t[4,1	]}}	</td>	</tr>
	<tr>	<td>C3	</td> 	<td>{{t[0,2	]}}	</td> 	<td>{{t[1,2	]}}	</td> 	<td>{{t[2,2	]}}		</td> 	<td>{{t[3,2	]}}	</td> 	<td>{{t[4,2	]}}	</td>	</tr>
	<tr>	<td>C4	</td> 	<td>{{t[0,3	]}}	</td> 	<td>{{t[1,3	]}}	</td> 	<td>{{t[2,3	]}}		</td> 	<td>{{t[3,3	]}}	</td> 	<td>{{t[4,3	]}}	</td>	</tr>
	<tr>	<td>C5	</td> 	<td>{{t[0,4	]}}	</td> 	<td>{{t[1,4	]}}	</td> 	<td>{{t[2,4	]}}		</td> 	<td>{{t[3,4	]}}	</td> 	<td>{{t[4,4	]}}	</td>	</tr>
	<tr>	<td>C6	</td> 	<td>{{t[0,5	]}}	</td> 	<td>{{t[1,5	]}}	</td> 	<td>{{t[2,5	]}}		</td> 	<td>{{t[3,5	]}}	</td> 	<td>{{t[4,5	]}}	</td>	</tr>
	<tr>	<td>C7	</td> 	<td>{{t[0,6	]}}	</td> 	<td>{{t[1,6	]}}	</td> 	<td>{{t[2,6	]}}		</td> 	<td>{{t[3,6	]}}	</td> 	<td>{{t[4,6	]}}	</td>	</tr>
	<tr>	<td>C8	</td> 	<td>{{t[0,7	]}}	</td> 	<td>{{t[1,7	]}}	</td> 	<td>{{t[2,7	]}}		</td> 	<td>{{t[3,7	]}}	</td> 	<td>{{t[4,7	]}}	</td>	</tr>
	<tr>	<td>C9	</td> 	<td>{{t[0,8	]}}	</td> 	<td>{{t[1,8	]}}	</td> 	<td>{{t[2,8	]}}		</td> 	<td>{{t[3,8	]}}	</td> 	<td>{{t[4,8	]}}	</td>	</tr>
	<tr>	<td>C10</td> 	<td>{{t[0,9	]}}	</td> 	<td>{{t[1,9	]}}	</td> 	<td>{{t[2,9	]}}		</td> 	<td>{{t[3,9	]}}	</td> 	<td>{{t[4,9	]}}	</td>	</tr>
	<tr>	<td>C11	</td>	<td>{{t[0,10]}}	</td> 	<td>{{t[1,10]}}	</td> 	<td>{{t[2,10]}}		</td> 	<td>{{t[3,10]}}	</td> 	<td>{{t[4,10]}}	</td>	</tr>
	<tr>	<td>C12	</td>	<td>{{t[0,11]}}	</td> 	<td>{{t[1,11]}}	</td> 	<td>{{t[2,11]}}		</td> 	<td>{{t[3,11]}}	</td> 	<td>{{t[4,11]}}	</td>	</tr>
	<tr>	<td>C13	</td>	<td>{{t[0,12]}}	</td> 	<td>{{t[1,12]}}	</td> 	<td>{{t[2,12]}}		</td> 	<td>{{t[3,12]}}	</td> 	<td>{{t[4,12]}}	</td>	</tr>
	<tr>	<td>C14	</td>	<td>{{t[0,13]}}	</td> 	<td>{{t[1,13]}}	</td> 	<td>{{t[2,13]}}		</td> 	<td>{{t[3,13]}}	</td> 	<td>{{t[4,13]}}	</td>	</tr>
	<tr>	<td>C15	</td>	<td>{{t[0,14]}}	</td> 	<td>{{t[1,14]}}	</td> 	<td>{{t[2,14]}}		</td> 	<td>{{t[3,14]}}	</td> 	<td>{{t[4,14]}}	</td>	</tr>
	<tr>	<td>C16	</td>	<td>{{t[0,15]}}	</td> 	<td>{{t[1,15]}}	</td> 	<td>{{t[2,15]}}		</td> 	<td>{{t[3,15]}}	</td> 	<td>{{t[4,15]}}	</td>	</tr>
	<tr>	<td>C17	</td>	<td>{{t[0,16]}}	</td> 	<td>{{t[1,16]}}	</td> 	<td>{{t[2,16]}}		</td> 	<td>{{t[3,16]}}	</td> 	<td>{{t[4,16]}}	</td>	</tr>
	<tr>	<td>C18	</td>	<td>{{t[0,17]}}	</td> 	<td>{{t[1,17]}}	</td> 	<td>{{t[2,17]}}		</td> 	<td>{{t[3,17]}}	</td> 	<td>{{t[4,17]}}	</td>	</tr>
	<tr>	<td>C19	</td>	<td>{{t[0,18]}}	</td> 	<td>{{t[1,18]}}	</td> 	<td>{{t[2,18]}}		</td> 	<td>{{t[3,18]}}	</td> 	<td>{{t[4,18]}}	</td>	</tr>
	<tr>	<td>C20	</td>	<td>{{t[0,19]}}	</td> 	<td>{{t[1,19]}}	</td> 	<td>{{t[2,19]}}		</td> 	<td>{{t[3,19]}}	</td> 	<td>{{t[4,19]}}	</td>	</tr>
	<tr>	<td>N21	</td>	<td>{{t[0,20]}}	</td> 	<td>{{t[1,20]}}	</td> 	<td>{{t[2,20]}}		</td> 	<td>{{t[3,20]}}	</td> 	<td>{{t[4,20]}}	</td>	</tr>
	<tr>	<td>N22	</td>	<td>{{t[0,21]}}	</td> 	<td>{{t[1,21]}}	</td> 	<td>{{t[2,21]}}		</td> 	<td>{{t[3,21]}}	</td> 	<td>{{t[4,21]}}	</td>	</tr>
	<tr>	<td>N23	</td>	<td>{{t[0,22]}}	</td> 	<td>{{t[1,22]}}	</td> 	<td>{{t[2,22]}}		</td> 	<td>{{t[3,22]}}	</td> 	<td>{{t[4,22]}}	</td>	</tr>
	<tr>	<td>N24	</td>	<td>{{t[0,23]}}	</td> 	<td>{{t[1,23]}}	</td> 	<td>{{t[2,23]}}		</td> 	<td>{{t[3,23]}}	</td> 	<td>{{t[4,23]}}	</td>	</tr>
	</tbody>
	</table>
	<div style="text-align:center">  
	<button onclick="selectElementContents( document.getElementById('coordstable') );">Copy Table</button>
	</div>
	<p>
Reference structure coords are available here: 	<a href ='/coord_table_ref_str_mat.html'>CuTPP	</a>
	</p>

