<h3>
Mean values for porphyrin structure	</h3>
	<p>
Bond distances, angles and deviations from planarity
</p>
<br><table id ='bdbatable' border="1" class="bdba">
  <thead>
<tr> <th>Bond Distances, <br>Bond Angles, <br>Atom Displacements				</th><th>Mean Value <br>(standard error)</th><th>	Units		</th></tr>
	</thead>  <tbody>
<tr> <td>N&ndash;C<sub>a</sub>							</td><td>{{vals[0]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>C<sub>a</sub>&ndash;C<sub>b</sub>				</td><td>{{vals[1]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>C<sub>a</sub>&ndash;C<sub>m</sub>				</td><td>{{vals[2]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>C<sub>b</sub>&ndash;C<sub>b</sub>				</td><td>{{vals[3]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>&angle;C<sub>a</sub>C<sub>b</sub>C<sub>b</sub>	</td><td>{{vals[4]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>&angle;NC<sub>a</sub>C<sub>b</sub>				</td><td>{{vals[5]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>&angle;NC<sub>a</sub>C<sub>m</sub>				</td><td>{{vals[6]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>&angle;C<sub>a</sub>NC<sub>a</sub>				</td><td>{{vals[7]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>&angle;C<sub>m</sub>C<sub>a</sub>C<sub>b</sub>	</td><td>{{vals[8]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>&angle;C<sub>a</sub>C<sub>m</sub>C<sub>a</sub>	</td><td>{{vals[9]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>&Delta;24										</td><td>{{vals[10]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>&Delta;N										</td><td>{{vals[11]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>&Delta;C<sub>a</sub>							</td><td>{{vals[12]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>&Delta;C<sub>b</sub>							</td><td>{{vals[13]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>&Delta;C<sub>m</sub>							</td><td>{{vals[14]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>&angle; pyrrole tilt							</td><td>{{vals[15]}}	</td><td>   (&deg;)		</td></tr>
<tr> <td>N&middot;&middot;&middot;N dist (adj)			</td><td>{{vals[16]}}	</td><td>   (&Aring;)	</td></tr>
<tr> <td>N&middot;&middot;&middot;N dist (opp)			</td><td>{{vals[17]}}	</td><td>   (&Aring;)	</td></tr>
</tbody> 
</table>

	<div style="text-align:center">  
	<button onclick="selectElementContents( document.getElementById('bdbatable') );">Copy Table</button>
	</div>

 <p>
See <a href = './bdba_defs.html'> here </a> for definitions
</p>
