<br>
<script type="text/javascript">
function showSCSD() {
  var x = document.getElementById("raw_data");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
</script>
 <style>
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

    <div style="text-align:center">  
    <button onclick="showSCSD()">show SCSD values</button>
    </div>
<div style = "text-align:center;">
 <textarea wrap='hard' readonly = True cols = 80 rows = 40 id="raw_data" name="raw_data">
{{raw_data|safe}}
</textarea>
</div>
<script>document.getElementById("raw_data").style.display = "none";
</script>
