<head>
<title>{{title}} scsd model output - Dr. C. J. Kingsbury</title>

<style>
img{vertical-align:middle}
table{ width:10cm}
table, th, td {font-size = 8pt,
  text-align: right;
	margin: auto;
border-collapse: collapse}
tr, p , h2, caption{text-align: center;
textstyle:bold}

</style>
<script type="text/javascript">
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand("copy");

        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            range.execCommand("Copy");
        }
    }
</script>
</head>
<body>
<br>
<p> 
    {{headbox|safe}}
</p>
<p>
<caption>
Table 1; Model atom positions
</caption>
</p>
<p>
{{html_table|safe}}
<div style="text-align:center">  
	<button onclick="selectElementContents( document.getElementById('html_table') );">Copy Table</button>
	</div>
</p>
</p>
<p>
{{plotly_fig|safe}}
</p>

<p>
<caption>
Figure 2; Model atom positions and symmetry operations
</caption>
</p>
{{extras|safe}}
</body>

<footer>
<p>
Document prepared by the SCSD online tool &ndash; kingsbury.id.au/scsd
<br>
 Dr. C. J. Kingsbury, Prof. Dr. M. O. Senge (2020-21) &ndash; ckingsbu@tcd.ie
<br>
</p>
</footer>